*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: black; /*linear-gradient(to right, #3525af, #9153c9);*/
}

.resume{
	width: 820px;
	margin: auto ;
	display: flex;
}

.left{
	background: #172a3b;
	width: 240px;
	padding: 0 8px;
}

.right{
	width: calc(100% - 240px);
	background:#fff;
}


.left .img_holder{
	text-align: center;
	margin: 15px 0;
}

.left .img_holder img{
	width: 180px;
	border: 4px outset steelblue;
    border-radius: 50px;
}

.pb{
	padding-bottom: 15px;
}

.title{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding-bottom: 10px;
	color: #4682b4;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: #4682b4;
}

.left .icon{
	font-size: 15px;
	color: white;
}

.left .text{
	font-size: 12px;
}

.info .li_wrap{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 11px;
}

.info .clickable{
	cursor: pointer;
}

.info .clickable:hover,
.info .clickable:hover .icon,
.info .clickable:hover .text{
	background: white;
	color: steelblue;
	border-radius: 10px;
}

.info .clickable:active,
.info .clickable:active .icon,
.info .clickable:active .text{
	background: steelblue;
	color: white;
}

.info .clickable:active{
	border: 2px solid #fff;
}

.info .li_wrap .icon{
	width: 25px;
    height: 25px;
    background: steelblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.info .li_wrap .text{
	width: calc(100% - 30px);
	word-break: break-word;
	color: white;
}

.cards ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cards .li_wrap{
	margin: 0px 3px 6px 3px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #fff;
	cursor: pointer;
}

.cards .big{
	width: 65px;
	height: 70px;
}

.cards .small{
	padding: 3px 6px;
	border: 2px solid orange;
}

.cards .li_wrap .icon,
.cards .li_wrap .text{
	margin: 3px 0px;
	color: #fff;
}

.cards .li_wrap .icon{
	font-size: 15px;
}

.cards .li_wrap .text{
	font-size: 10px;
}

.cards .li_wrap:hover,
.cards .li_wrap:hover .icon,
.cards .li_wrap:hover .text{
	background: #fff;
	color: steelblue;
}

.cards .li_wrap:active,
.cards .li_wrap:active .icon,
.cards .li_wrap:active .text{
	background: steelblue;
	color: white;
}

.header{
    background: #172a3b;
    padding: 10px 20px;
    color: #fff;
    height: 180px;
	border-right: 4px solid steelblue;
	border-radius: 0 0 50px;
}

.header .name{
	margin-top: 20px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 400;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: lightsteelblue;
}

.header .role{
	font-weight: 300;
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: steelblue;
}

.header .about{
	margin-top: 20px;
	font-size: 14px;
	line-height: 16px;
}

.right_plane{
	background:#172a3b;
	height:calc(100% - 180px);
}

.right_inner{
	padding: 20px 25px 0 25px;
	border-left: 4px solid steelblue;
    border-radius: 50px 0 0 50px;
    background: white;
	height: calc(100% - 30px);
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 110px;
    color: steelblue;
	text-align: center;
	font-style: italic;
	font-size:11px;
	font-weight: 700;
	letter-spacing: 2px;
}

.right_inner .li_wrap .date img{
	width: 50%;
	margin-top:10px;
	cursor: pointer;
}

.right_inner .li_wrap .date img:hover{
  width:50%;
  transform: rotate(5deg);
}

.right_inner .li_wrap .info{
	width: calc(100%  - 110px);
	padding-left: 20px;
	position: relative;
}

.right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: darkorange;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 13px;
	margin-top: 3px;
	color: orange;
}

.right_inner .li_wrap .info_cont{
	margin-top: 10px;
	font-size: 11px;
}


.right_inner .li_wrap .info_cont li:before{
	content: "➧ ";
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: orange;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 8px;
	left: 4px;
	width: 2px;
	height: calc(100% - 10px);
	background: orange;
}

.footer{
	border-right: 4px solid steelblue;
	height: 30px;
	color:white;
	font-size: 9px;
	line-height: 13px;
	float:right;
	text-align: right;
	padding: 4px 5px;
	cursor: pointer;
}

.footer:hover{
	color:lightsteelblue;
}

.footer:active{
	color:steelblue;
}

.pagebreak{
		page-break-before: always;
		padding-top: 18px;
}

.left .lang{
	font-weight: 700;
	font-size: 12px;
	color: white;
	padding: 2px;
	background: steelblue;
	border-radius: 10px;
	text-align: center;
	width: 35%;
	margin-right:15px;
}

.checked {
  color: orange;
}

.right_inner .li_wrap .cert_date {
    width: 100px;
    color: steelblue;
	font-style: italic;
	font-size:11px;
	font-weight: 700;
	letter-spacing: 2px;
}

.right_inner .li_wrap .cert_text{
	font-weight: 700;
	font-size: 12px;
	margin:0 10px;
	width: calc( 100% - 260px );
}

.right_inner .li_wrap .cert_com{
	width: 160px;
	font-weight: 300;
	font-size: 12px;
	color: orange;
}

.right_inner .org li{
	font-weight: 300;
	font-size: 12px;
	padding-bottom: 2px;
	width:100%;
}

.right_inner .org li:before{
	content: "➧ ";
}

.right_inner .org li span{
	color:steelblue;
	float:right;
	text-align: center;
	font-style: italic;
	font-size:11px;
	font-weight: 700;
	letter-spacing: 2px;
}

.right_inner .org li .desc{
	margin-left:25px;
}
.right_inner .org li .desc:before{
	content:" - "
}